body {
  font-family: "open-sans", "Open Sans", "Arial", "Helvetica", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F6F8;
  color: #666666;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 600;
  font-size: 16px;
  padding: 1.5% 1% 1.5% 5%;
}

.navItem {
  flex-shrink: 4;
}

#tryBtn {
  width: 15%;
  background-color: #FFC223;
  color: white;
  border: none;
  font-size: 16px;
  padding: 1% 2%;
  white-space: nowrap;
}

.menuItems {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 0 10% 0 10%;
}

#mainLogo {
  float: left;
}

#mainAbout {
  display: flex;

}

#logoCloud {
  order: 2;
  float: none;
}

.content {
  display: flex;
  flex-flow: column;
}

h1 {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  font-size: 30px;
  color: #333333;
}

p {
  color: #666666;
  font-weight: 400;
}

.listDescription {
  padding-right: 32%;
  font-size: 18px;
  margin-bottom: 0;
}

strong {
  font-weight: 700;
}

.actionDescription {
  padding-right: 18%;
}

.info {
  margin-top: 5%;
  margin-bottom: 5%;
}

.bigImage {
  float: right;
  margin-top: 30px;
  padding-right: 11%;
}

#vpnActions {
  display: flex;
  flex-flow: row;
  margin-top: 3%;
}

#vpnActions > #infrastructure {
  flex: 1 6 20%;
  order: 1;
}

#vpnActions > #thirdParty {
  flex: 1 6 20%;
  order: 2;
}

#vpnActions > #vulnerabilities {
  flex: 1 6 20%;
  order: 3;
}

.action {
  display: flex;
  flex-flow: column;
  padding-right: 5%;
  align-items: flex-start;
}

.actionDetail {
  margin-top: 20px;
}
/*strong and p tags in .action span*/

li {
  margin-top: 20px;
  font-weight: 400;
}

hr {
  color: #D8D8D8;
}

#advantagesList {
  list-style-image: url('./assets/checkmark.svg')
}

footer {
  background-color: #3A3D40;
  color: #DDDDDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 7.5% 5% 15%;
  font-weight: 700;
  font-size: 18px;
}

#social {
  display: flex;
  align-items: center;
  width: 35%;
}

#btns {
  width: 100%;
}

.socialBtn {
  margin-left: 10%;
}

@media all and (max-width: 1000px) {
  .info {
    margin: 10% 0;
  }

  #vpnActions {
  margin-top: 5%;
  }

  .bigImage {
    padding-right: 10%;
  }

  .listDescription {
    padding-right: 20%;
  }
}

@media all and (max-width: 950px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footerItem {
    margin-top: 20px;
  }

  #social {
    width: 33%;
    /*white-space: wrap;*/
    display: flex;
    flex-direction: column;
  }

  #btns {
    width: 100%;
    padding-left: 15%;
  }

  .socialBtn {
    margin-left: 5%;
  }
}


@media all and (max-width: 800px) {
  .navItem {
    display: inline-block;
  }

  #tryBtn {
    display: none;
    /*white-space: nowrap;*/
  }

  nav {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 700px) {
  .info {
    margin: 15% 0;
  }

  .bigImage {
    float: none;
    display:block;
    margin:auto;
    padding: 0 0 5% 0;
  }

  .listDescription {
    padding: 0 0 5% 0;
  }

  #mainAbout {
    flex-flow: column;
  }

  #logoCloud {
    order: 1;
  }

  #aboutDetail {
    order: 2;
  }  
}

@media all and (max-width: 650px) {
  nav {
    padding: 1.5% 2% 1.5% 2%;
  }

  .menuItems {
    width: 85%;
    justify-content: space-between;
  }
}

@media all and (max-width: 520px) {
  .menuItems {
    font-size: 14px;
  }

  h1 {
    text-align: center;
  }

  .listDescription {
    text-align: center;
  }

  ul, li {
    margin-left: 0;
    padding-left: 0;
  }

  li {
    text-align: center;
    list-style-position: inside;
  }

  #social {
    width: 60%;
  }
}

@media all and (max-width: 450px) {
  #vpnActions {
    flex-direction: column
  }

  .action {
    display: flex;
    flex-flow: row;
  }

  .actionImg {
    margin-top: 5%;
  }

  .actionDetail {
    margin-left: 20px;
  }
}

@media all and (max-width: 380px) {
  .menuItems {
    width: 90%;
    font-size: 12px;
  }
}