body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

nav {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: #F5F6F8;
  color: #666666;
  font-weight: 600;
  font-size: 16px;
  padding: 1.5% 1% 1.5% 5%;
}

#tryBtn {
  width: 20%;
  background-color: #FFC223;
  color: white;
  border: none;
  font-size: 16px;
  padding: 1% 2%;
  white-space: nowrap;
}

#menuItems {
  width: 60%;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.container {
  padding: 0 10% 0 10%;
}

#mainLogo {
  float: left;
}

#mainAbout {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

#logoCloud {
  order: 2;
}

.content {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
}

h1 {
  font-weight: 300;
  font-size: 30px;
  color: #333333;
}

p {
  color: #666666;
  font-weight: 400;
}

.listDescription {
  padding-right: 30%;
  font-size: 18px;
  margin-bottom: 0;
}
/*paragraphs before the lists*/

strong {
  font-weight: 700;
}

.actionDescription {
  padding-right: 18%;
}

.info {
  margin-top: 5%;
  margin-bottom: 5%;
}

.bigImage {
  float: right;
  margin-top: 30px;
  padding-right: 10%;
}

#vpnActions {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  margin-top: 3%;
  margin-bottom: 5%;
}

.action {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  padding-right: 5%;
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.actionDetail {
  margin-top: 20px;
}
/*strong and p tags in .action span*/

li {
  margin-top: 20px;
  font-weight: 400;
  list-style-type: disc;
}

#advantagesList {
  list-style-image: url('./assets/checkmark.svg')
}

footer {
  background-color: #3A3D40;
  color: #DDDDDD;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 5% 7.5% 5% 15%;
  font-weight: 700;
  font-size: 18px;
}

#social {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  width: 35%;
}

#btns {
  width: 100%;
}

.socialBtn {
  margin-left: 10%;
}

@media all and (max-width: 1000px) {
  .info {
    margin: 10% 0;
  }

  #vpnActions {
    margin-top: 5%;
  }

  .bigImage {
    padding-right: 5%;
  }

  .listDescription {
    padding-right: 20%;
  }
}

@media all and (max-width: 950px) {
  footer {
    padding-left: 5%;
    padding-right: 5%;
  }

  .footerItem {
    margin-top: 20px;
  }

  #social {
    width: 33%;
  }

  #btns {
    width: 100%;
    padding-left: 15%;
  }

  .socialBtn {
    margin-left: 5%;
  }
}


@media all and (max-width: 800px) {
  .navItem {
    display: inline-block;
  }

  #tryBtn {
    display: none;
    white-space: nowrap;
  }

  nav {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /*prevent nav items from being crammed together, get items to display under Serpent VPN logo*/
}

@media all and (max-width: 750px) {
  .info {
    margin: 15% 0;
  }

  .bigImage {
    float: none;
    display:block;
    margin:auto;
    padding: 0 0 5% 0;
    max-height: 256px;
    max-width: 256px;
  }
  /*prevent re-sizing of image in Microsoft Edge*/

  .listDescription {
    padding: 0 0 5% 0;
  }

  #mainAbout {
    -moz-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  #logoCloud {
    order: 1;
  }
  /*display #logoCloud image on top of .listDescription paragraph*/

  #aboutDetail {
    order: 2;
  }

  footer {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  #social {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /*display social buttons underneath 'Social:'*/
}

@media all and (max-width: 650px) {
  nav {
    padding: 1.5% 2% 1.5% 2%;
  }

  #menuItems {
    width: 85%;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}

@media all and (max-width: 520px) {
  #menuItems {
    font-size: 14px;
  }

  h1 {
    text-align: center;
  }

  .listDescription {
    text-align: center;
  }

  ul, li {
    margin-left: 0;
    padding-left: 0;
  }
  /*remove list indent*/

  li {
    text-align: center;
    list-style-position: inside;
  }

  #social {
    width: 60%;
  }

  #vpnActions {
    -webkit-flex-direction: column;
    flex-direction: column
  }

  .action {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;
  }
  /*display .action content in a row instead of column*/

  .actionImg {
    margin-top: 5%;
  }

  .actionDetail {
    margin-left: 20px;
  }
}

@media all and (max-width: 380px) {
  #menuItems {
    width: 90%;
    font-size: 12px;
  }
}